

  <%#= simple_form_for @items do |f| %>
    <%#= f.association :status, as: :boolean %>
  <%# end %>

<div class="container header">
  <div class="title">
    <h1> <%= @list.title %> </h1>
  </div>
  <div class="list-nav">
    <p> <%= link_to "Lists", get_dones_path %> </p>
    <p> <%= link_to "Done", status_path %> </p>
    <p> <%= link_to "Edit List", edit_list_path %> </p>
    <p> <%= link_to "Delete", list_path(@list), data: {turbo_method: :delete, turbo_cofirm: "Are you sure?"} %> </p>
  </div>
</div>

<div class="items-card col-8">
  <% @list.items.each do |item| %>
    <p class="items"> <%= item.name %> </p>
  <% end %>
</div>
